{% extends "app-container.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/registration.css') }}">
{% endblock %}

{% block content %}
    <div id="form-container">
    {% block form %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('auth.static', filename='js/registration.js') }}"></script>
{% endblock %}
