{% extends "base.html" %}

{% block page_content %}
    <div id="form-container">
    {% block form %}{% endblock %}
    </div>
{% endblock page_content %}

{% block scripts %}
    <script src="{{ url_for('auth.static', filename='js/registration.js') }}"></script>
{% endblock %}
